* { 
    margin: 0; 
}
body { 
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background-color: #FFFFEB; 
}
.links ul{
    list-style: none;
}
.clear { 
    clear: both; 
}
#page-wrap { 
    width: 60%;
    margin: 40px auto; 
}
#photo {
    float: right; 
    margin: -30px 0 0 0; 
    width: 25%;
}
h1 { 
    margin: 0 0 16px 0; 
    padding: 0 0 10px 0; 
    font-size: 38px; 
    font-weight: bold; 
    border-bottom: 1px solid #999; 
}
h2 { 
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; 
}

h3 { 
    font-size: 18px; 
    margin: 0 0 6px 0; 
    position: relative; 
}

p { 
    margin: 0 0 10px 0; 
}
a { 
    color: black;
    text-decoration: none; 
}
a:hover {  
    color: #30257D; 
}
ul { 
    margin: 0 0 15px 17px; 
}
#cv { 
    width: 70%; 
    float: left; 
}
#cv p { 
    font-family: Georgia, Serif; 
    font-style: italic; 
    color: #666; 
}
dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 50px; 
    border-right: 1px solid #999;  
}
dd { 
    width: 600px; 
    float: right; 
}
.clear dd{ 
    float: none; 
    margin: 0; 
    height: 15px; 
}

footer{
    height: 50px;
    background-color: aqua;
}

footer img{
    height: 30px;
}